# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import json
import time
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
# Define file and path where data are stored to perform analysis 
csv_path = "output_data/cities.csv"
vacation_data_df = pd.read_csv(csv_path)

vacation_data_df

,City,Temperature,Country,Cloudiness,Humidity,Latitude,Longitude,Wind Speed,Date
0,Rairangpur,25.89,IN,66,81,22.27,86.18,3.06,1593041404
1,Upernavik,1.51,GL,32,88,72.79,-56.15,0.87,1593041404
2,Lebu,8.45,CL,2,82,-37.62,-73.65,2.18,1593041404
3,Anloga,27.00,GH,20,83,5.79,0.90,5.10,1593041404
4,Staryy Nadym,10.01,RU,100,86,65.61,72.68,7.53,1593041404
...,...,...,...,...,...,...,...,...,...
600,Ipueiras,21.12,BR,45,63,-7.03,-40.45,3.76,1593041370
601,Klaksvík,10.00,FO,58,93,62.23,-6.59,6.70,1593041442
602,Giohar,23.93,SO,94,87,2.78,45.50,4.73,1593041442
603,Kashgar,23.00,CN,75,27,39.45,75.98,6.00,1593041181
604,Lagunas,25.53,PE,68,76,-5.23,-75.68,1.02,1593041442

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [13]:
# Store latitude and longitude 
locations = vacation_data_df[["Latitude", "Longitude"]]
Humidity = vacation_data_df["Humidity"].astype(float)

In [14]:
#Plot Heatmap

fig = gmaps.figure(layout={
        'width': '610px',
        'height': '600px',
        'padding': '3px',
        'border': '2px solid black'})

# Create heat layer,
heat_layer = gmaps.heatmap_layer(locations, weights=Humidity,dissipating=False,max_intensity=10,
                                 point_radius=1)
#Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(border='2px solid black', height='600px', padding='3px', width='610px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [15]:
newvacation_data_df = vacation_data_df.loc[(vacation_data_df["Wind Speed"] >=5) & (vacation_data_df["Cloudiness"] == 0) & \
                                   (vacation_data_df["Temperature"] >=20)].dropna()
del newvacation_data_df ["Date"] 

newvacation_data_df

,City,Temperature,Country,Cloudiness,Humidity,Latitude,Longitude,Wind Speed
22,Awjilah,23.30,LY,0,54,29.11,21.29,5.31
75,Nouadhibou,22.00,MR,0,73,20.93,-17.03,8.20
172,Plettenberg Bay,21.82,ZA,0,26,-34.05,23.37,7.04
237,Taoudenni,35.86,ML,0,9,22.68,-3.98,6.43
296,Port Keats,22.44,AU,0,28,-14.25,129.55,5.68
392,Balkanabat,31.90,TM,0,13,39.51,54.37,7.08
549,Ţahţā,31.00,EG,0,25,26.77,31.50,7.20

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [16]:
name = ["Hotel Name"]
hotel_df = newvacation_data_df
hotel_df['Hotel Name'] = ''

hotel_df

,City,Temperature,Country,Cloudiness,Humidity,Latitude,Longitude,Wind Speed,Hotel Name
22,Awjilah,23.30,LY,0,54,29.11,21.29,5.31,
75,Nouadhibou,22.00,MR,0,73,20.93,-17.03,8.20,
172,Plettenberg Bay,21.82,ZA,0,26,-34.05,23.37,7.04,
237,Taoudenni,35.86,ML,0,9,22.68,-3.98,6.43,
296,Port Keats,22.44,AU,0,28,-14.25,129.55,5.68,
392,Balkanabat,31.90,TM,0,13,39.51,54.37,7.08,
549,Ţahţā,31.00,EG,0,25,26.77,31.50,7.20,

In [17]:
# geocoordinates
target_coordinates = "Latitude, Longitude"
target_search = "Hotel"
target_radius = 5000

# set up a parameters dictionary
params = {
    "location": target_coordinates,
    "keyword": target_search,
    "radius": target_radius,
    #"type": target_type,
    "key": g_key}

# base url
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

# run a request using our params dictionary
response = requests.get(base_url, params=params)

response

In [18]:

# use iterrows to iterate through dataframe
   
params = {"type" : "hotel",
          "keyword" : "hotel",
          "radius" : 5000,
          "key" : g_key}
for index, row in hotel_df.iterrows():
# get city name, lat, lnt from dataframe
    lat = row["Latitude"]
    long = row["Longitude"]
    city = row["City"]
    # add keyword to params dict
    params["location"] = f"{lat},{long}"
    # assemble url and make API request
    print(f"City Results {index}: {city}.")
    response = requests.get(base_url, params=params).json()
    # extract results
    results = response['results']
    # Save the hotel name to dataframe
    try:
        print(f"Nearby hotel in {city_name} is {results[0]['name']}.")
        hotel_df.loc[index, "Hotel Name"] = results[0]['name']
    # Show where when no hotel is available, missing field
    except:
        print("Continue due to missing data")
    print("------------")
    # Wait 1 sec before another api request to avoid SSL Error
    time.sleep(1)
# Print end of search once completed
print("Search is completed")

City Results 22: Awjilah.
Continue due to missing data
------------
City Results 75: Nouadhibou.
Continue due to missing data
------------
City Results 172: Plettenberg Bay.
Continue due to missing data
------------
City Results 237: Taoudenni.
Continue due to missing data
------------
City Results 296: Port Keats.
Continue due to missing data
------------
City Results 392: Balkanabat.
Continue due to missing data
------------
City Results 549: Ţahţā.
Continue due to missing data
------------
Search is completed

In [19]:
hotel_df

,City,Temperature,Country,Cloudiness,Humidity,Latitude,Longitude,Wind Speed,Hotel Name
22,Awjilah,23.30,LY,0,54,29.11,21.29,5.31,
75,Nouadhibou,22.00,MR,0,73,20.93,-17.03,8.20,
172,Plettenberg Bay,21.82,ZA,0,26,-34.05,23.37,7.04,
237,Taoudenni,35.86,ML,0,9,22.68,-3.98,6.43,
296,Port Keats,22.44,AU,0,28,-14.25,129.55,5.68,
392,Balkanabat,31.90,TM,0,13,39.51,54.37,7.08,
549,Ţahţā,31.00,EG,0,25,26.77,31.50,7.20,

In [20]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Latitude", "Longitude"]]

In [21]:
# Add marker layer ontop of heat map

markers = gmaps.marker_layer(locations, info_box_content = hotel_info)

fig.add_layer(markers)

# Display figure

fig

Figure(layout=FigureLayout(border='2px solid black', height='600px', padding='3px', width='610px'))